@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    color: black;
    counter-reset: section;
}

h2::before {
    counter-increment: section;
    content: counter(section, upper-roman) ". ";
}

main {
    min-width: 53.5rem;
    max-width: 60rem;
    padding: 2rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.25rem;
    border-color: black;
    padding: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    margin: 0.25rem 0rem;
}

ul {
    padding-inline-start: 2.5rem;
    list-style: disc;
}

ul ul {
    list-style: circle;
}

div.whiteSpace {
    height: 5rem;
}

.first-line-ident {
    text-indent: 0.75rem;
}

.horizontalGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.listType2,
.listType2 ul {
    padding-inline-start: 1.5rem;
}

#cp {
    padding-left: 6.5rem;
}

#myPicture {
    height: 6rem;
}

#mainTitle {
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}