@import url(style.css);

:root{
    --doc-font-color: #000000;
    --doc-background: #F5F5F5;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    counter-reset: section;
}

header {
    background-color: inherit;
    position: fixed;
    padding: 1rem 0rem;
    width: 100%;
}

main {
    max-width: 55rem;
    margin: 0 auto;
    background-color: var(--doc-background);
    color: var(--doc-font-color);
}

h1 {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 650px) {
    main {
        padding: 5rem 0.5rem;
    }

    h1 {
        text-align: left;
    }    

    header > .horizontalGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }    
}

@media only screen and not (max-width: 650px) {
    main {
        padding: 5rem 3%;
    }

    h1 {
        text-align: center;
    }
    
    .horizontalGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }     
}


h2::before {
    counter-increment: section;
    content: counter(section, upper-roman) ". ";
}

h2 {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.25rem;
    border-color: var(--doc-font-color);
    padding: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

h4 {
    margin-top: 0.5rem;
}

p {
    margin: 0.25rem 0rem;
}

ul {
    padding-inline-start: 2.5rem;
    list-style: disc;
}

ul ul {
    list-style: circle;
}

.first-line-ident {
    text-indent: 0.75rem;
}

.listType2,
.listType2 ul {
    padding-inline-start: 1.5rem;
}

#cp {
    padding-left: 6.5rem;
}

#myPicture {
    height: 6rem;
}

#mainTitle {
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

#header-div {
    padding: 0rem 2rem;
}