@import url(style.css);

body {
    min-height: 100vh;
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--first-color);

    font-family: var(--font);
}

main {
    padding: 1rem 8%;
}

footer {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

h1 {
    text-align: center;
    margin: 1rem 0rem;
}

h2 {
    margin: 1rem 0rem;
}


strong {
    color: var(--second-color);
}

section p {
    padding-left: 1rem;
}

p+p {
    margin-top: 0.5rem;
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    text-decoration: none;
    background-color: var(--third-color);
    color: var(--background-color);
    transition: 0.25s;
}

.button:hover {
    background-color: var(--third-color_hover);
    transition: 0.25s;
}

.button:active {
    border-radius: 2rem;
    background-color: var(--third-color_active);
    transition: 0.25s;
}

.button__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    border-radius: 1rem;
    border: 0.125rem solid var(--third-color);
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    text-decoration: none;
    color: var(--third-color);
}

#more-about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    gap: 1rem;
}